# /node_modules and /bower_components ignored by default
# NOTE: this ignore list is shared for all lint tasks!
# If you need to ignore something that another lint task lints, define it in the Gruntfile under eslint src.

# Stuff to ignore in cms (additional folders like /test are defined in the Gruntfile)
base/libs/**
base/assets/**
Gruntfile.js
base/config_*.js
nodejs
_compiled
coverage
styleguide
__snapshots__/**

# Stuff to ignore in tests
coverage
base/test/admin/views/**
base/test/coverage-report/**
base/test/libs/**
base/test/tests.js
base/test/framework/test-base.js

# Stuff to ignore in satellite
satellite/cms.js
satellite/src/lib/**
satellite/test/test-main.js
satellite/test/coverage-report/**
satellite/new_test/libs/**
satellite/new_test/test_libs/**

# Lint task was failing sometimes without explicitly ignoring it
node_modules

# Ignore docs
docs
